@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255; /* White text color */
  --background-start-rgb: 0, 0, 0; /* Black background color */
  --background-end-rgb: 0, 0, 0; /* Black background color */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.backdrop-sm {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* For Safari */
}
.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  background: rgba(0, 0, 0, .5); /* Fallback for non-supporting browsers */
}

.basic-glow {
  box-shadow: 0 0 64px rgba(255, 255, 255, 0.0);
}

.basic-glow:hover {
  box-shadow: 0 0 64px rgba(255, 255, 255, 0.15);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
